h1 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

h2 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  color: #eb6581;
  font-family: Arial, Helvetica, sans-serif;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}